.slider {
  display: flex;
  justify-content: space-between;
}

.slider a {
  display: block;
  margin: 0 auto 1rem;
  overflow: hidden;
  border-radius: 50%;
}

.slider a img {
  clip-path: circle(50% at 50% 50%);
}

.slider a {
  position: relative;
  width: 200px;
  height: 200px;
}

.slider a > img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider a > img {
  max-width: 120%;
  width: 999%;
  transition: 0.25s ease max-width;
}

.slider a > img:hover {
  max-width: 100%;
}

.touch .slider a > img {
  max-width: 100%;
}

.slider .slick-slide:focus,
.slider a:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .slider a {
    width: 150px;
    height: 150px;
  }
}