@charset "UTF-8";
/* Site settings */
/**
 * Fonts
 */
/**
 * Define vertical, horizontal, or both ABSOLUTE* position
 * * Must be in absolute or relative parent
 */
/**
 * Blocks
 */
/**
 * Images
 */
/* Base */
/**
 * Images
 */
.full {
  max-width: auto !important; }

.wide {
  max-width: auto !important;
  width: 100%; }

.rounded {
  border-radius: 4px; }

.circle, .slider a {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50%; }
  .circle img, .slider a img {
    clip-path: circle(50% at 50% 50%); }

/**
 * Elements
 */
.clear-list {
  list-style: none;
  padding-left: 0; }

@media screen and (min-width: 1200px) {
  .two-columns {
    position: relative;
    overflow: hidden; }
    .two-columns > div, .two-columns li {
      float: left;
      width: 49%; }
      .two-columns > div:nth-child(2n+1), .two-columns li:nth-child(2n+1) {
        clear: both; }
      .two-columns > div:nth-child(2n+2), .two-columns li:nth-child(2n+2) {
        float: right; } }

/**
 * Aligments
 */
.alignleft, .al, .alignright, .ar {
  display: inline;
  margin-bottom: 1rem; }

.alignleft, .al {
  float: left;
  margin-right: 1.5em; }

.alignright, .ar {
  float: right;
  margin-left: 1.5em; }

.aligncenter, .ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.fll, .float-left, .pull-left {
  float: left !important; }

.flr, .float-right, .pull-right {
  float: right !important; }

.fln, .float-none, .pull-none {
  float: none !important; }

.no-underline, .no-underline:hover, .no-underline:focus {
  text-decoration: none; }

/**
 * Compatibility only
 * @see new d-{media}-{state}. Ex: d-sm-none
 */
.hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-2-4 {
  flex: 0 0 20%;
  max-width: 20%; }

.offset-2-4 {
  margin-left: 20%; }

@media (min-width: 576px) {
  .col-sm-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .offset-sm-2-4 {
    margin-left: 20%; } }

@media (min-width: 768px) {
  .col-md-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .offset-md-2-4 {
    margin-left: 20%; } }

@media (min-width: 992px) {
  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .offset-lg-2-4 {
    margin-left: 20%; } }

@media (min-width: 1200px) {
  .col-xl-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .offset-xl-2-4 {
    margin-left: 20%; } }

@media (min-width: 1440px) {
  .col-hd-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .offset-hd-2-4 {
    margin-left: 20%; } }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

img {
  max-width: 100%;
  height: auto; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

h1 {
  margin-top: 2rem;
  font-size: 5vw; }
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 3.84615vw; } }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 5.20833vw; } }
  @media screen and (max-width: 575px) {
    h1 {
      font-size: 24px; } }

.archive-description {
  font-size: 16px; }

@media (min-width: 992px) and (max-width: 1439px) {
  .archive-description {
    font-size: calc( 16px + 4 * (100vw - 992px) / 448); } }

@media (min-width: 1440px) {
  .archive-description {
    font-size: 20px; } }

/* Layouts */
.site-navigation {
  width: 100%; }
  .site-navigation .container {
    padding: 0 15px; }
  .site-navigation .navbar {
    z-index: 1100;
    background: #fff;
    border-radius: 0; }
    .site-navigation .navbar .nav-link,
    .site-navigation .navbar .nav-link:hover,
    .site-navigation .navbar .nav-link:focus {
      text-decoration: none; }
  .site-navigation .non-responsive .navbar-brand {
    display: none !important; }
  .site-navigation .non-responsive .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

.sidebar__title {
  margin-top: 4.5rem; }

@media screen and (max-width: 576px) {
  .post img {
    margin-bottom: 1rem; }
  .post.media {
    flex-direction: column; } }

/* Modules */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover, .hamburger:hover[aria-expanded="true"] {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger[aria-expanded="true"] .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger[aria-expanded="true"] .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 9px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 18px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before, .hamburger[aria-expanded="true"] .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after, .hamburger[aria-expanded="true"] .hamburger-inner::after {
    transform: translate3d(0, -18px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

.hamburger:focus {
  outline: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./assets/slick/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./assets/slick/fonts/slick.eot");
  src: url("./assets/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("./assets/slick/fonts/slick.woff") format("woff"), url("./assets/slick/fonts/slick.ttf") format("truetype"), url("./assets/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 1rem;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.slider {
  display: flex;
  justify-content: space-between; }
  .slider a {
    display: block;
    margin: 0 auto 1rem; }
    .slider a {
      position: relative;
      width: 200px;
      height: 200px; }
    .slider a > img {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .slider a > img {
      max-width: 120%;
      width: 999%;
      transition: 0.25s ease max-width; }
      .slider a > img:hover {
        max-width: 100%; }
    .touch .slider a > img {
      max-width: 100%; }
  .slider .slick-slide:focus, .slider a:focus {
    outline: none; }
  @media screen and (max-width: 1200px) {
    .slider a {
      width: 150px;
      height: 150px; } }

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0 -15px 1em; }
  .woocommerce .products ul li.product, .woocommerce ul.products li.product {
    margin-bottom: 1em; }

/*# sourceMappingURL=assets/maps/template_styles.css.map */
